@tailwind base;
@tailwind components;
@tailwind utilities;


html {
@apply bg-black text-white

}
h1 {
@apply text-4xl font-semibold
}
h2 {
@apply text-3xl font-medium
}

body {
    font-family: 'Nunito Sans', sans-serif;
}
button {
   user-select: none;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('~/assets/NunitoSans-VariableFont.ttf');
}